@import "../_variables.scss";

.spacer {
  flex: 1 1 auto;
}

.image-profile {
  border-radius: 50%;
  height: 1.8em;
  margin-left: 1em;
}

mat-toolbar {
  background-color: $primary;
}

#image-span {
  height: 36px;
}
