#main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: calc(100% - 64px);
}

#side-bar-navigator-container {
  width: 25em;
  background-color: #fafafa;
  height: 100%;
  padding-left: 1.5em;
  margin-bottom: 4em;
  overflow: scroll;
}

#file-viewer-container {
  flex: 1 0 0;
  height: 100%;
  background-color: lightblue;
}
