
.expend-row-button {
  margin-right: 2em;
}

.root-mat-tree {

}

.mat-tree-node {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
  color: #616161;
  padding-left: 1.2em;
}

.mat-tree-node:hover {
  background-color: #eeeeee;
}

.file-redirect {
  display: -webkit-box;
  text-decoration: none;
  height: inherit;
  width: inherit;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  color: #616161;
}
